.clinicaAlterarSenha-container {
  height: 90vh;
}

.clinicaAlterarSenha-container h2 {
  margin-bottom: 40px;
  margin-top: 4px;
  font-size: 28px;
  text-align: center;
}

.clinicaAlterarSenha-buttons {
  position: absolute;
  bottom: 0;
  right: 30px;
  font-size: 14px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.clinicaAlterarSenha-inputs {
  margin: 0 auto;
  margin-top: 60px;
}
