.gerenciarIA-top {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.gerenciarIA-top h2 {
    text-align: center;
}

.gerenciarIA-model-details {
    margin-top: 40px;
    display: flex;
}

.gerenciarIA-image-bank {
    padding-top: 20px;
    padding-left: 20px;
}

.gerenciarIA-requests {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}