.cadastro-container{
    background-color: #eef1f3;
    position: relative;
    display: flex;
}
.cadastro-background-image {
    background-image: url('../../assets/cdc-4U6qzwNu-Ns-unsplash.jpg');
    background-size: cover;
    background-position: center; 
    width: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -webkit-mask-image: linear-gradient(to left, transparent 0%, black 20%);
}

.cadastro-section{
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 80%;
    height: 100%;
    margin: 3rem;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.cadastro-section h2{
    font-size: 22px;
    font-weight: bolder;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.cadastro-formulario {
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }

  .cadastro-logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
