.alterarSenha-container{
    height: 80vh;
}

.alterarSenha-container h2 {
    margin-bottom: 60px;
    font-size: 28px;
    text-align: center;
}

.alterarSenha-buttons {
  position: absolute;
  bottom: 0;
  right: 30px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.alterarSenha-inputs{
    margin: 0 auto;
    margin-top: 60px;
}