.atualizarDados-buttons {
  position: absolute;
  bottom: 0;
  right: 30px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.btn-cancelar,
.btn-salvar {
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 5px;
  transition: transform 1s ease;
}

.btn-cancelar {
  background-color: #ec230d;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-salvar {
  background-color: #10ca09;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-cancelar:hover,
.btn-salvar:hover {
  transform: scale(1.1);
}
