@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@200;300;400;500;600;700&display=swap');


.form-control{
    font-size: 15px;
    color: #808080;
}

.formcomp-input{
    width: 80%; 
    margin-left: 10%;
    border: 1px solid #ccc; 
    padding: 10px; 
}

.custom-formcomp label{
    margin-left: 10%;
}

.custom-formcomp {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.form-cadastro-text{
    text-align: center;
}

.form-cadastro-text button{
    width: 80%;
}

.form-cadastro-text a{
    text-decoration: none;
}

.form-cadastro-text p{
    margin-top: 10px;
}

.inputbtn{
    align-self: center;
    margin-top: 1rem;
}


.form-group p{
    margin-top: 1rem;    
    margin-left: 0.5rem;
}

.showerror{
    display: flex !important;
}

.hideerror{
    display: none !important;
}

.errorDiv{
    margin-left: 10%;
    color: red;
    display: flex;
    align-items: center;
    height: 1.25rem;
}

.patientBox{
    transition: all 200ms;
}

.patientBox:hover{
    /* box-shadow:'0px 4px 4px 0px rgba(0, 0, 0, 0.25)'; */
    transform: scale(1.05);
    box-shadow: -13px 14px 30px 1px rgba(0,0,0,0.25);
    -webkit-box-shadow: -13px 14px 30px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: -13px 14px 30px 1px rgba(0,0,0,0.25);
}

#patientInformations{
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:20px;
}

#patientInformations p{
    margin-bottom: 0;
    font-family: poppins;
    font-weight:100;
    font-size: small;
}

#patientInformations span{
    letter-spacing: 1px;
    font-family: poppins;
}