.home-container {
    position: relative;
  }
  
.home-navbar {
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  
.home-landcomp {
    position: relative;
    z-index: 1;
  }

.navbar-transparent {
    background-color: transparent;
    box-shadow: none;
  }

.custom-title {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center; 
    background-color: transparent;
    padding: 20px;
    font-size: 20px;
    z-index: 2; /* deve ser maior que o z index de landcomp*/
}

.custom-title h1 {
    color: #FFFFFF !important;
    text-transform: uppercase;
    font-weight: bold;
}

.card-container{
  position: absolute;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.card{
  margin-right: 20px;
}

.card:last-child{
  margin-right: 0;
}