@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@200;300;400;500;600;700&display=swap');

#historico-card-container{
    height: 100%;
    width: 100%;
    background-color: #3B83C3 !important;
    flex-direction: column;
    display: flex;
    padding: 15px 10px;
    border-radius: 15px;
    transition: all 200ms;
}

#historico-card-container:hover{
    /* box-shadow:'0px 4px 4px 0px rgba(0, 0, 0, 0.25)'; */
    transform: scale(1.05);
    box-shadow: -10px 10px 25px 1px rgba(0,0,0,0.25);
    -webkit-box-shadow: -10px 10px 25px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: -10px 10px 25px 1px rgba(0,0,0,0.25);
}

.card-title-context{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    padding: 2px 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    border: 1px solid white; 
}

.historico-card-body{
    display: flex;
    justify-content: space-around;
    padding: 0px 10px;
}

.hcard-text{
    color: #ffffff;
    margin-bottom: 2px;
}

#hist-download-button-context{
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    z-index: 99;
}

#paciente-info{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

#resultado-exame{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#result-icon-context{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container:hover{
    cursor: pointer;
}

#icon-context{
    border: 1px dashed rgba(255, 255, 255, 0.705);
    margin-right: 4px;
    height: 24px;
    width: 24px;
}

#historico-card-container span{
    letter-spacing: 1px;
    font-family: poppins;
}