.editAvatarOff{
    transition: all 200ms;
  }
  
  .editAvatarOn{
    transition: all 200ms;
    width: 15rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    vertical-align: center !important;
    right: 10px !important;
  }