.custom-navbar {
  background-color: #0b2a45;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  padding: 0px 135px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  height: 80px;
}

.center-nav-links {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  flex-shrink: 0;
  align-self: stretch;
}

.center-nav-links a {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
}

.active{
  color: #0083ca /*#FAA620*/;
}

.center-nav-links a:hover, .center-nav-links a.active{
  color: #0083ca /*#FAA620*/;
  border-bottom: 2px solid #0083ca /*#FAA620*/;
}

.navbar-toggler-icon {
  background-color: transparent;
}

.navbar-brand img {
  margin: 0 auto;
  height: 40px;
}

.navbar-collapse {
  height: 50px;
}

.entrar-button {
  background-color: #0083ca /*#FAA620*/;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border: none;
}

.entrar-button:hover {
  background-color: #0083ca9f /*#faa62050*/;
  color: #fff;
}

.menulist button:hover {
  background-color: #0b2a45 !important;
  color: white !important;
}

.menulist button {
  border-color: white;
  border-radius: 0;
  margin: 0.25rem 0;
  transition: 200ms all ease-in-out !important;
}

@media (max-width: 991.98px) {
  .entrar-button {
    display: none;
  }

  .navbar-collapse {
    height: 180px;
    background-color: #000000;
    border-radius: 10px;
    z-index: 3;
  }
  .custom-navbar {
    height: 100px;
  }
}

@media (max-width: 529px) {
  .custom-navbar .navbar-brand .brand-text {
    display: none;
  }

  .container {
    margin-left: 70px;
  }

  .navbar-collapse {
    height: 180px;
    background-color: #000000;
    border-radius: 10px;
    z-index: 3;
  }

  .custom-navbar {
    height: 100px;
  }
}
