.sobre-container {
  width: fit-content;
}
.sobre-imagem {
  background-image: url("../../assets/img_backgorund_sobre.png");
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sobre-imagem-texto {
  position: absolute;
  bottom: 40px;
  left: 30px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.sobre-secao1 {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 40px;
}

.secao1-retangulo {
  width: 9px;
  height: 188px;
  flex-shrink: 0;
  background-color: #0b2a45;
}

.secao1-h1 {
  font-size: 30px;
  font-weight: bolder;
  margin-left: 20px;
}

.secao1-container-h1 {
  display: flex;
  align-items: center;
}

.sobre-secoes {
  display: flex;
  align-items: center;
}

.sobre-secao2 {
  display: flex;
  padding: 20px;
  margin: 20px;
  max-width: 50%;
}

.secao2-texto h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.sobre-secao3 {
  display: flex;
  max-width: 50%;
  margin: 0 auto;
  height: 600px;
  width: 50%;
  align-items: center;
}

.sobre-secao3 img {
  width: 80%;
  height: 350px;
  border-radius: 10px;
  margin-left: 10%;
}

.sobre-secao3 figcaption {
  text-align: center;
}

@media (max-width: 991px) {
  .sobre-secao1 {
    margin-left: 10px;
  }
  .secao1-retangulo {
    width: 5px;
  }
  .secao1-h1 {
    font-weight: bolder;
    margin-left: 10px;
    font-size: 25px;
  }
  .sobre-secoes {
    flex-direction: column;
    align-items: normal;
  }
  .sobre-secao2 {
    max-width: 100%;
    margin-left: 0;
  }

  .sobre-secao2-lista {
    margin-left: 5px;
  }

  .sobre-secao3 {
    max-width: 100%;
    width: 100%;
    justify-content: center;
  }
  .sobre-secao3 img {
    width: 100%;
    margin-left: 0%;
    border-radius: 5px;
  }
}

@media (max-width: 480px) {
  .sobre-secao1 {
    margin-left: 5px;
  }
  .secao1-retangulo {
    width: 5px;
  }
  .secao1-h1 {
    font-weight: bolder;
    margin-left: 10px;
    font-size: 25px;
  }
  .sobre-secoes {
    flex-direction: column;
    align-items: normal;
  }
  .sobre-secao2 {
    max-width: 100%;
  }
  .sobre-secao2-lista {
    margin-left: 5px;
  }
  .sobre-secao3 {
    max-width: 100%;
    width: 100%;
  }
  .sobre-secao3 img {
    border-radius: 0;
  }
}
