.footer_container{
    background-color: #061218;
}

.footer_item{
    display: flex;
    align-items: center;
    margin: 6px 0px;
}

.f_location{
    display: flex;
    flex-direction: column;
}

.f_icon{
    width: 20px;
    height: 20px;
    color: #f8f8ffb0;
    margin-right: 10px;
}

.footer_text{
    color: #f8f8ffb0;
    font-family: 'Open Sans','Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 14px;
}

