@font-face {
  font-family: 'Red hat';
  src: url('../src/assets/fontes/RedHatDisplay-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #f0f5f7;
}