.custom-btn{
    width: 80%;
}

.form-login-text{
    text-align: center;
}

.form-login-text button{
    width:80%;
}

.form-login-text a{
    text-decoration: none;
}

.login-forget-password{
    margin-left: 10%;
}

.login-forget-password a {
    text-decoration: none;
}

.inputbtn{
    align-self: center;
    margin-top: 1rem;
}

.form-group p{
    margin-top: 1rem;    
    margin-left: 0.5rem;
}

.showerror{
    display: flex !important;
}

.hideerror{
    display: none !important;
}

.errorDiv{
    margin-left: 10%;
    color: red;
    display: flex;
    align-items: center;
    height: 1.25rem;
}